.signup-page-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f3f4;
}
.signup-page-container .signup-container {
    height: 400px;
    width: 600px;
    box-shadow: -4px -4px 5px rgba(0, 0, 0, 0.25),
        4px 4px 5px rgba(0, 0, 0, 0.25);
    background: white;
    border-radius: 0 10px 10px 10px;
    padding: 40px;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sign-up-header {
    font-weight: bold;
    color: #2c2a40;
    font-size: 24px;
}
.signup-p {
    font-size: 12px;
    width: 208px;
    font-weight: bold;
    color: #00000066;
}
.signup-page-container .signup-container form {
    display: flex;
    justify-content: space-around;
}
.signup-signup-first-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signup-second-col {
    display: flex;
    flex-direction: column;
}
.signup-first-col input[type="text"] {
    font-family: "Poppins", sans-serif;
    width: 220px;
    height: 30px;
    size: 12px;
    background: rgba(196, 196, 196, 0.2);
    margin: 10px;
    border: none;
    padding: 5px 0px 5px 15px;
    outline: none;
}
.signup-second-col input[type="text"],
input[type="email"],
input[type="password"] {
    font-family: "Poppins", sans-serif;
    width: 220px;
    height: 30px;
    size: 12px;
    background: rgba(196, 196, 196, 0.2);
    margin: 10px;
    border: none;
    padding: 5px 0px 5px 15px;
    outline: none;
    position: relative;
    top: -13px;
}
.signup-second-col input[type="file"] {
    display: none;
}
#signup-file-upload-icon {
    height: 47px;
    width: 60px;
    size: 12px;
    background-color: rgba(196, 196, 196, 0.2);
    margin: 10px 10px 0px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-file-logo-label {
    font-size: 16px;
    color: #00000066;
    position: relative;
    left: 86px;
    top: -24px;
}
.signup-container button {
    font-family: "Poppins", sans-serif;
    width: 87px;
    height: 39px;

    letter-spacing: 2px;
    color: white;
    font-weight: bolder;
    background: #144065;
    border: solid 2px #144065;
    border-radius: 0px 10px 10px 10px;
    transition: 0.3s ease-in-out;
    margin-bottom: 20px;
}
.signup-container button:hover {
    color: #144065;
    background: white;
}
