* {
    margin: 0;
    padding: 0;
}
.job-heading {
    font-weight: 700;
    position: absolute;
    top: 100px;
    left: 840px;
    color: #144065;
}
.job-container {
    width: 80%;
    height: 80vh;
    padding: 5% 10% 5% 10%;
    font-family: "Poppins", sans-serif;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    flex-direction: row;
    /* background-color: red; */
}
.job-container .column-left {
    padding: 50px;
    height: 100px;
    width: 150px;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
    font-weight: 300;
}
.category-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.category-container h3 {
    font-weight: 300;
}
.job-container .column-left .category-container form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.job-container .column-right {
    width: 60%;
    height: auto;
    border-radius: 10px;
    padding: 0px 70px 20px 50px;
    overflow-y: scroll;
    background-color: #dddddd;
    transition: ease-in-out;
    /* box-shadow: 4px -4px 5px rgba(0, 0, 0, 0.25), -4px 4px 5px rgba(0, 0, 0, 0.25); */
}
.job-container .column-right .card {
    background-color: white;
    display: flex;
    height: 120px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    box-shadow: 4px -4px 5px rgba(0, 0, 0, 0.25),
        -4px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.job-container .column-right .card img {
    height: 100%;
    object-fit: cover;
    width: 30%;
    border-radius: 10px 0 0 10px;
}
.job-container .column-right .card div {
    position: relative;
    left: -10px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.job-container .column-right .card div h5 {
    font-weight: 300;
}
.job-container .column-right .card .Link .apply {
    margin-top: 50px;
    margin-right: 20px;
    border-radius: 0px 10px 10px 10px;
    width: 80%;
    height: 35%;
    color: white;
    background-color: #144065;
    cursor: pointer;
}
